@charset "UTF-8";
:root {
  --rosa: #fa5a5a;
  --blanco: #fff;
  --rojo: #881014;
  --oscuro: #000;
  --titulos: "Arima Madurai", cursive;
  --parrafos: "Mulish", sans-serif;
}

html {
  box-sizing: border-box;
  /*1rem = 10px*/
  font-size: 62.5%;
}
html body {
  margin: 0;
  font-size: 1.6rem;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

h1,
h2 {
  font-family: var(--titulos);
}

h3,
p,
a {
  font-family: var(--parrafos);
}

img {
  max-width: 100%;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.ocultar {
  display: none;
}

.btn-cerrar {
  font-size: 3rem;
  font-weight: bold;
  color: var(--blanco);
  position: absolute;
  top: 0;
  right: 50px;
  user-select: none;
}

.pantalla-completa {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.btn-cerrar:hover {
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: var(--blanco);
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1rem 5rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .btn {
    font-size: 2.2rem;
  }
  .bordes {
    border: 4px solid var(--blanco);
  }
}
.bordes {
  border: 3px solid var(--blanco);
}

.bordes:hover {
  color: var(--rosa);
  background-color: var(--blanco);
}

.btn-rojo {
  background-color: var(--rojo);
  font-weight: bold;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-rosa {
  background-color: var(--rosa);
  border: none;
  display: inline-block;
  margin-bottom: 2rem;
  font-family: var(--parrafos);
}

.btn-rosa:hover {
  background-color: var(--rojo);
}

.contenedor-navegacion {
  background-color: var(--oscuro);
  position: relative;
  z-index: 5;
}
.contenedor-navegacion .contenido-navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contenedor-navegacion .contenido-navegacion .logo h2,
.contenedor-navegacion .contenido-navegacion .navegacion a {
  color: var(--blanco);
}
.contenedor-navegacion .contenido-navegacion .logo h2 {
  font-size: 3rem;
  color: var(--rosa);
}
.contenedor-navegacion .contenido-navegacion .navegacion {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 40rem;
  padding: 3rem 4rem;
  background-color: var(--oscuro);
  animation: desplazamiento 0.5s ease-in-out;
}
.contenedor-navegacion .contenido-navegacion .navegacion a {
  text-decoration: none;
  font-size: 2.2rem;
  padding: 1.5rem;
  padding-left: 4rem;
  display: block;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

@media (min-width: 768px) {
  .navegacion a {
    text-align: left;
  }
}
.navegacion a:nth-child(even):hover {
  color: var(--rosa);
}

.navegacion a:nth-child(odd):hover {
  color: var(--rosa);
}

.navegacion a:first-of-type {
  margin-top: 5rem;
}

/* Ocultar menú de hamburguesa en pantalla de escritorio */
@media only screen and (min-width: 768px) {
  .hamburguesa {
    display: none;
  }
}
.hamburguesa:hover {
  cursor: pointer;
}

.hamburguesa span {
  background-color: var(--blanco);
  display: block;
  width: 5rem;
  height: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Estilos para la barra de navegación en la vista de escritorio */
@media only screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-menu li {
    margin-right: 10px;
    white-space: nowrap;
  }
  .nav-menu li a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease;
  }
  .nav-menu li:last-child {
    margin-right: 0;
  }
  .nav-menu li a:hover {
    color: var(--rosa);
  }
}
/* Ocultar el menú de navegación en la vista móvil */
@media only screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .hamburguesa {
    display: block;
  }
}
.contenido-header {
  position: relative;
}
.contenido-header .texto-encabezado {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido-header .texto-encabezado h1 {
  color: var(--rosa);
  font-size: 4rem;
}
.contenido-header video {
  width: 100%;
  height: 100%;
}

.contenido-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .texto-encabezado h2 {
    font-size: 8rem;
  }
}
.contenedor-nosotros {
  padding-top: 5rem;
}
.contenedor-nosotros .texto-nosotros .bienvenida {
  display: flex;
  font-size: 4rem;
  color: var(--rosa);
  text-align: center;
  justify-content: center;
}
.contenedor-nosotros .texto-nosotros h1 {
  font-size: 5rem;
  text-align: center;
}
.contenedor-nosotros .texto-nosotros p {
  font-size: 2rem;
  text-align: center;
}
.contenedor-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-nosotros {
  /* Estilos del texto */
  margin-bottom: 20px; /* Espacio inferior para separar del elemento de la galería */
}
.button-container {
  margin-top: 10px;
}

.change-photo-button {
  padding: 10px 20px;
  background-color: #ee9696;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-photo-button:hover {
  background-color: #23527c;
}
@media (min-width: 768px) {
  .contenedor-nosotros {
    display: flex;
    justify-content: space-between;
  }
  .contenedor-nosotros .texto-nosotros .bienvenida {
    text-align: left;
  }
  .contenedor-nosotros .texto-nosotros .bienvenida h1 {
    text-align: left;
  }
  .contenedor-nosotros .texto-nosotros .bienvenida p {
    text-align: left;
  }
}
.menu {
  padding-top: 4rem;
}

.chef h1 {
  background-color: var(--rojo);
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--blanco);
  font-size: 4rem;
}

.contenido-chef .texto-chef h3 {
  font-size: 3rem;
}
.contenido-chef .texto-chef p {
  font-size: 2rem;
}
.contenido-chef .texto-chef,
.contenido-chef .imagen-chef {
  flex: 0 0 calc(50% - 1rem);
}

@media (min-width: 768px) {
  .contenido-chef {
    display: flex;
    justify-content: space-between;
  }
}
.formulario-contacto {
  padding-top: 5rem;
}

/*  agregago */
.carrito {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.carrito h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.carrito ul {
  list-style: none;
  padding: 0;
}

.carrito ul li {
  margin-bottom: 5px;
}

.carrito-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carrito-total p:first-child {
  font-weight: bold;
}

.carrito-total p:last-child {
  font-weight: bold;
}

.carrito-vaciar {
  background-color: #d9534f;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.carrito-comprar {
  background-color: #d9534f;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.eliminar {
  background-color: #d9534f;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.carrito-vaciar:hover {
  background-color: #c9302c;
}
/* fin agregago */

.texto-platillos {
  text-align: center;
  font-size: 5rem;
}

.botones-platillos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.botones-platillos button {
  flex: 0 0 calc(50% - 1rem);
  padding: 1rem 3rem;
}

@media (min-width: 768px) {
  .botones-platillos {
    display: inline-block;
  }
  .botones-platillos button {
    flex: unset;
  }
  .platillos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.platillo {
  flex: 0 0 calc(33.3% - 1rem);
  border: 1px solid #e1e1e1;
  padding: 2rem;
  border-radius: 5px;
}
.platillo h2 {
  text-align: center;
}
.platillo p {
  font-size: 1.8rem;
}
.platillo .precio {
  display: flex;
  justify-content: space-between;
}
.platillo .precio p {
  font-weight: bold;
  font-size: 2rem;
}
.platillo .precio button {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--rojo);
  color: var(--blanco);
  height: 3.8rem;
}

@media (min-width: 768px) {
  .formulario-contacto {
    display: flex;
  }
}
.informacion-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--oscuro);
  padding: 2rem;
}
.informacion-contacto h1 {
  font-size: 4rem;
  font-family: var(--titulos);
}
.informacion-contacto p {
  font-size: 2.2rem;
}
.informacion-contacto i {
  margin-right: 1rem;
}
.informacion-contacto .redes-sociales {
  font-size: 3rem;
}

.informacion-contacto,
.formulario {
  flex: 0 0 calc(50% - 1rem);
}

.informacion-contacto h1,
.informacion-contacto p,
.redes-sociales i {
  color: var(--blanco);
}

.formulario {
  padding: 5rem;
}
.formulario .input-formulario label {
  display: block;
  font-size: 2rem;
  font-family: var(--parrafos);
  margin-bottom: 1.5rem;
}
.formulario .input-formulario input,
.formulario .input-formulario textarea {
  padding: 1rem 1.6rem;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  outline: none;
  font-family: var(--parrafos);
  width: 100%;
}
.formulario .input-formulario textarea {
  height: 20rem;
  resize: none;
}

.pie-pagina {
  margin-top: 0rem;
  background-color: rgb(20, 20, 20);
  padding: 0rem;
}
.pie-pagina .info {
  flex: 0 0 calc(20% - 1rem);
  margin-bottom: 2rem;
}
.pie-pagina .info h3,
.pie-pagina .info p {
  color: var(--blanco);
  text-align: center;
}
.pie-pagina .info h3 {
  font-size: 2.2rem;
}
.pie-pagina .info p {
  font-size: 1.8rem;
}
.pie-pagina .redes-pie {
  text-align: center;
  padding: 6rem;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .contenedor-piepagina {
    display: flex;
    justify-content: space-between;
  }
}
.footer {
  text-align: center;
  background-color: var(--oscuro);
  color: var(--blanco);
  padding: 2rem;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
