.pie-pagina {
  margin-top: 0rem;
  background-color: rgb(20, 20, 20);
  padding: 0rem;
  .info {
    flex: 0 0 calc(20% - 1rem);
    margin-bottom: 2rem;
    h3,
    p {
      color: var(--blanco);
      text-align: center;
    }
    h3 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
  .redes-pie {
    text-align: center;
    padding: 6rem;
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .contenedor-piepagina {
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  text-align: center;
  background-color: var(--oscuro);
  color: var(--blanco);
  padding: 2rem;
  font-size: 2rem;
}
